html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -505px;
   float:left
}
div#container
{
   width: 1000px;
   height: 1010px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #00BFFF;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Button2
{
   box-sizing: border-box;
   line-height: 31px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #CD5C5C;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#Button2:hover
{
   background-color: #4169E1;
   transition: background-color 500ms linear 0ms;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Button4
{
   box-sizing: border-box;
   line-height: 31px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #CD5C5C;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#Button4:hover
{
   background-color: #4169E1;
   transition: background-color 500ms linear 0ms;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text8 div
{
   text-align: justify;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SlideShow2 .image
{
   border-width: 0;
   border-radius: inherit;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SlideShow2 .carousel-control-next, #SlideShow2 .carousel-control-prev
{
   cursor: pointer;
   position: absolute;
   text-align: center;
   top: 0;
   left: 0;
   opacity: 0.5;
   transition: opacity 0.3s ease;
}
#SlideShow2 .carousel-control-next-icon, #SlideShow2 .carousel-control-prev-icon
{
   display: inline-block;
   width: 32px;
   height: 32px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#SlideShow2 .carousel-control-next:hover, #SlideShow2 .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#SlideShow2 .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20128%20128%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M128%2064%20C128%2052%2c%20125%2041%2c%20120%2032%20L120%2032%20L120%2032%20C114%2022%2c%20106%2014%2c%2096%208%20C86%203%2c%2075%200%2c%2064%200%20C53%200%2c%2042%203%2c%2032%208%20C22%2014%2c%2014%2022%2c%209%2032%20C3%2041%2c%200%2052%2c%200%2064%20C0%2075%2c%203%2086%2c%209%2096%20C14%20105%2c%2022%20113%2c%2032%20119%20C42%20125%2c%2053%20128%2c%2064%20128%20C75%20128%2c%2086%20125%2c%2096%20119%20C106%20113%2c%20114%20105%2c%20120%2096%20C125%2086%2c%20128%2075%2c%20128%2064%20Z%20M68%2034%20C71%2031%2c%2074%2031%2c%2077%2034%20C79%2036%2c%2079%2039%2c%2077%2042%20L55%2064%20L55%2064%20L77%2086%20L77%2086%20C79%2088%2c%2079%2091%2c%2077%2094%20C74%2096%2c%2071%2096%2c%2068%2094%20L42%2068%20L42%2068%20C40%2065%2c%2040%2062%2c%2042%2060%20L68%2034Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#SlideShow2 .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20128%20128%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M0%2064%20C0%2075%2c%203%2086%2c%209%2096%20L9%2096%20L9%2096%20C14%20105%2c%2022%20113%2c%2032%20119%20C42%20125%2c%2053%20128%2c%2064%20128%20C75%20128%2c%2086%20125%2c%2096%20119%20C106%20113%2c%20114%20105%2c%20120%2096%20C125%2086%2c%20128%2075%2c%20128%2064%20C128%2052%2c%20125%2041%2c%20120%2032%20C114%2022%2c%20106%2014%2c%2096%208%20C86%203%2c%2075%200%2c%2064%200%20C53%200%2c%2042%203%2c%2032%208%20C22%2014%2c%2014%2022%2c%209%2032%20C3%2041%2c%200%2052%2c%200%2064%20Z%20M61%2094%20C58%2096%2c%2055%2096%2c%2052%2094%20C50%2091%2c%2050%2088%2c%2052%2086%20L74%2064%20L74%2064%20L52%2042%20L52%2042%20C50%2039%2c%2050%2036%2c%2052%2034%20C55%2031%2c%2058%2031%2c%2061%2034%20L87%2060%20L87%2060%20C89%2062%2c%2089%2065%2c%2087%2068%20L61%2094Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#SlideShow2
{
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text1 div
{
   text-align: justify;
}
#Button5
{
   box-sizing: border-box;
   line-height: 31px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #00BFFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#Button5:hover
{
   background-color: #4169E1;
   transition: background-color 500ms linear 0ms;
}
#wb_PanelMenu2 a, #PanelMenu2_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu2_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu2_panel #PanelMenu2_markup
{
   display: block;
}
#PanelMenu2_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu2_markup li a, #PanelMenu2_markup li a:hover
{
   padding: 5px 5px 5px 5px;
   box-shadow: none;
}
#PanelMenu2_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #00BFFF;
}
#PanelMenu2_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu2_markup li a
{
   color: #FFFFFF;
   border: 0px solid #00BFFF;
   background-color: #00BFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
}
#wb_PanelMenu2 a
{
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   border-radius: 0px;
   background-color: #00BFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   box-shadow: 0px 0px 2px #000000;
   text-align: center;
   text-transform: none;
}
#PanelMenu2_markup li a:hover
{
   color: #FFFFFF;
   background-color: #0B5ED7;
   border: 0px solid #00BFFF;
}
#PanelMenu2_markup li a .icon
{
   fill: currentColor;
   margin-right: 4px;
   height: 16px;
   width: 16px;
   vertical-align: middle;
}
#PanelMenu2_markup li a:hover .icon
{
   fill: currentColor;
}
#wb_PanelMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #0B5ED7;
   border: 1px solid #0A58CA;
}
#PanelMenu2_panel
{
   background-color: #00BFFF;
   overflow-y: auto;
}
#PanelMenu2
{
   line-height: 51px;
   width: 66px;
   height: 51px;
   position: absolute;
   z-index: 999;
}
#PanelMenu2-social
{
   padding: 20px 0 0 0;
   text-align: center;
}
#PanelMenu2-social a
{
   display: inline-block;
   padding: 5px;
   text-align: center;
   background-color: #FFFFFF;
   margin: 0 .5em;
   border-radius: 50%;
}
#PanelMenu2-social .social-icon
{
   color: #00BFFF;
   fill: currentColor;
   font-size: 16px;
   width: 16px;
}
#PanelMenu2-social a:hover, #PanelMenu2-social a:hover .social-icon
{
   background-color: #0B5ED7;
   color: #FFFFFF;
   fill: currentColor;
}
